<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
</head>

<body>
    <div class="nav-b">
        <h2>Rajshila</h2>
        <h6>interiors</h6>
        <div class="nav-prt1"></div>
        <div class="nav-prt2">
            <a href="/index">
                <h1>Home</h1>
            </a>

            <a href="/design">
                <h1>Design Gallery</h1>
            </a>
            <a href="/kitchen">
                <h1>Modular Kitchen</h1>
            </a>
            <a href="/badroom">
                <h1>Bedroom</h1>
            </a>
            <a href="/livingroom">
                <h1>Living Room</h1>
            </a>
            <a href="/bathroom">
                <h1>Bathroom</h1>
            </a>
            <a href="#page-3">
                <h1>About</h1>
            </a>
            <a href="/">
                <h1>Contact</h1>
            </a>
        </div>
        <div class="navpage">
            <div id="nav-prt2">
                <a href="/index">
                    <h1>Home</h1>
                </a>

                <a href="/design">
                    <h1>Design Gallery</h1>
                </a>
                <a href="/kitchen">
                    <h1>Modular Kitchen</h1>
                </a>
                <a href="/badroom">
                    <h1>Bedroom</h1>
                </a>
                <a href="/livingroom">
                    <h1>Living Room</h1>
                </a>
                <a href="/bathroom">
                    <h1>Bathroom</h1>
                </a>
                <a href="#page-3">
                    <h1>About</h1>
                </a>
                <a href="/">
                    <h1>Contact</h1>
                </a>
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
    </div>
    <div id="main">
        <div id="page-3">
            <div class="about-conatiner">
                <div class="about-elm">
                    <div class="about-l">
                        <img src="https://plus.unsplash.com/premium_photo-1681113076872-c74b8926e70c?q=80&w=1961&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                    </div>
                    <div class="about-r">
                        <h1>About</h1>
                        <h4>
                            Rajshila Interior specializes in structural engineering construction management and site development.
                            <br />
                            <br />Our focus on stunning interiors ensures personalized results reflecting your unique style for projects of any scale.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-4">
            <h1>Contact</h1>
            <div class="contact">
                <h1>+12234-4948</h1>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js " integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js " integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>