@font-face {
    font-family: voyage;
    src: url(/fonts/Voyage-Regular.ttf);
}

@font-face {
    font-family: cinzel;
    src: url(/fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
    font-family: sf;
    src: url(/fonts/sf-pro-text_light.ttf);
}

@font-face {
    font-family: Ethereal;
    src: url(/fonts/Ethereal-Thin.woff2);
}

@font-face {
    font-family: proximan;
    src: url(/fonts/Fontspring-DEMO-proximanovacond-light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sf; */
}

html,
body {
    height: 100%;
    width: 100%;
}

.nav-b {
    background-color: #e2e4e4;
    color: rgb(0, 0, 0);
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 99;
}

.nav-b h2 {
    font-size: 35px;
    letter-spacing: 10px;
    padding: 10px;
    font-family: Ethereal;
}

.nav-b h6 {
    font-size: 15px;
    font-weight: 100;
    font-family: cinzel;
    letter-spacing: 4px;
}

.nav-prt1 {
    color: rgb(0, 0, 0);
    width: 100vw;
}

.nav-prt2 {
    color: rgb(0, 0, 0);
    display: flex;
}

.nav-prt2 h1 {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 10px;
    font-family: cinzel;
    font-weight: 100;
}

#nav-prt2 h1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
}

#menu {
    height: 12px;
    width: 30px;
    position: fixed;
    top: 40px;
    right: 30px;
    font-size: 35px;
    display: none;
    cursor: pointer;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#line1 {
    height: 2px;
    width: 100%;
    background-color: #000000;
    transform-origin: 0 0;
    transition: all linear 0.4s;
    display: none;
}

#line2 {
    height: 2px;
    width: 100%;
    background-color: #000000;
    transition: all linear 0.4s;
    transform-origin: 0 0;
    display: none;
}

.navpage {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: none;
    transition: all linear 0.1s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
}

@media (max-width: 600px) {
    .nav-b {
        background-color: #e2e4e4;
        color: rgb(255, 255, 255);
        height: 100px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 20px 40px;
        position: fixed;
    }
    .nav-b h2 {
        font-size: 30px;
        position: relative;
        left: -90px;
        top: 7px;
        padding: 0px 20px;
        letter-spacing: 2px;
        color: #000;
    }
    .nav-b h6 {
        font-size: 10px;
        position: relative;
        left: -90px;
        /* top: 7px; */
        color: #000000;
    }
    .nav-prt1 {
        color: rgb(0, 0, 0);
        width: 100vw;
    }
    .nav-prt2 {
        color: rgb(0, 0, 0);
        display: flex;
        display: none;
    }
    .nav-prt2 h1 {
        color: rgb(0, 0, 0);
        font-size: 10px;
        padding: 10px;
    }
    #nav-prt2 h1 {
        color: rgb(0, 0, 0);
        font-size: 26px;
        padding: 10px;
        display: block;
        text-align: center;
        cursor: pointer;
        position: relative;
        top: 30px;
        font-family: sf;
    }
    #menu {
        height: 12px;
        width: 30px;
        position: fixed;
        top: 40px;
        right: 30px;
        font-size: 35px;
        display: block;
        cursor: pointer;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    #line1 {
        height: 2px;
        width: 100%;
        background-color: #000000;
        transform-origin: 0 0;
        transition: all linear 0.4s;
        display: block;
    }
    #line2 {
        height: 2px;
        width: 100%;
        background-color: #000000;
        transition: all linear 0.4s;
        transform-origin: 0 0;
        display: block;
    }
    .navpage {
        height: 100vh;
        width: 100%;
        background: #E2E4E4;
        position: absolute;
        display: block;
        transition: linear 0.5s;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;
        padding-top: 100px;
    }
}

#page-1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    /* background-image: url(https://images.unsplash.com/photo-1635321350281-e2a91ecffd00?q=80&w=2023&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideshow 60s linear infinite;
    /* transition: all ease-in-out 1s; */
    animation-fill-mode: both;
    object-fit: cover;
}

@keyframes slideshow {
    0% {
        background-image: url(https://images.unsplash.com/photo-1606744824163-985d376605aa?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
    10% {
        background-image: url(https://images.unsplash.com/photo-1562438668-bcf0ca6578f0?q=80&w=2060&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
    30% {
        background-image: url(https://images.unsplash.com/photo-1618221469555-7f3ad97540d6?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
    60% {
        background-image: url(https://images.pexels.com/photos/6969864/pexels-photo-6969864.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1   );
    }
    100% {
        background-image: url(https://images.pexels.com/photos/6969865/pexels-photo-6969865.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }
}

.text-elm h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(0, 0, 0);
    height: 150px;
    font-family: Ethereal;
}

#page-2 {
    background: #ffffff;
    position: relative;
    padding-top: 20px;
}

.Design-txt h1 {
    color: rgb(0, 0, 0);
    padding: 10px 120px;
    font-family: Ethereal;
}

.Design-txt h3 {
    font-size: 15px;
    color: rgb(36, 35, 35);
    padding: 0px 120px;
    display: block;
    font-family: sf;
    font-weight: 100;
    text-transform: lowercase;
}

@media (max-width: 600px) {
    #page-1 {
        height: 100vh;
        width: 100vw;
        background-color: rgb(255, 255, 255);
        background-image: url(https://images.unsplash.com/photo-1635321350281-e2a91ecffd00?q=80&w=2023&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Design-txt h3 {
        font-size: 20px;
        color: rgb(118, 115, 115);
        padding: 0px 120px;
        display: none;
    }
    .Design-txt h1 {
        font-size: 40px;
        color: rgb(0, 0, 0);
        padding: 20px 0px;
        text-align: center;
    }
    .text-elm h1 {
        text-align: center;
        font-size: 40px;
        color: rgb(255, 255, 255);
        font-weight: 100;
    }
    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* padding-top: 80px; */
    }
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    background: #e2e4e4;
}

.card img {
    width: 100%;
    height: 100%;
}

.div-card-c {
    padding: 10px;
}

.div-card-c h3 {
    font-size: 25px;
    color: #000000;
    font-weight: 300;
    font-family: Ethereal;
}

.div-card-c p {
    font-size: 14px;
    color: rgb(85, 85, 85);
    font-family: sf;
}

#page-3 {
    min-height: 100vh;
    width: 100%;
    background-color: #ffff;
}

.about-conatiner {
    height: 100vh;
    width: 100%;
}

.about-elm {
    height: 100vh;
    width: 100%;
    display: flex;
}

.about-r {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    text-align: center;
}

.about-l {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-l img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

@media (max-width: 600px) {
    #page-3 {
        min-height: 100vh;
        width: 100%;
        background: #ede4cd;
    }
    .about-elm {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about-r {
        height: 100vh;
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 0px 50px;
    }
    .about-l {
        min-height: 60vh;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-l img {
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
    .about-r h1 {
        font-size: 20px;
    }
    .about-r h4 {
        font-size: 1px;
        font-family: proximan;
        padding: 10px;
        line-height: 25px;
        text-align: center;
    }
}

.about-r h1 {
    font-size: 40px;
    position: relative;
    border-bottom: 1px solid black;
    font-family: Ethereal;
}

.about-r h4 {
    font-size: 16px;
    font-family: sf;
    font-weight: 100;
    color: #1a1616;
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

#page-4 {
    max-height: 40vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.contact {
    height: 10vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contact i {
    font-size: 40px;
    color: #ffffff;
    margin: 40px 10px;
}

#page-4 h1 {
    font-size: 30px;
    padding: 10px;
    color: #ffffff;
    border-bottom: 1px solid rgb(78, 78, 75);
    font-family: voyage;
}

#page-4 p {
    font-size: 14px;
    padding: 10px;
    color: #7b7b7b;
    font-family: sf;
}

@media (max-width: 600px) {
    #page-4 {
        min-height: 35vh;
        /* width: 100%; */
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: #000;
    }
    .contact {
        max-height: 40vh;
        /* width: 100%; */
        /* background-color: #e43333; */
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .contact i {
        font-size: 25px;
        color: #ffffff;
        margin: 0px 10px;
    }
    #page-4 h1 {
        font-size: 30px;
        padding: 10px;
        color: #ffffff;
        /* background-color: aqua; */
        border-bottom: 1px solid beige;
    }
    #page-4 h4 {
        font-size: 25px;
        padding: 10px;
        color: #ffffff;
        /* background-color: aqua; */
        border-bottom: 1px solid beige;
        position: relative;
        top: 160px;
    }
}